#detailArtikel .hero-section{
	padding: 50px;
	background-color: var(--secondary);
    height: 250px;
    color: white;
}

#detailArtikel .detail-section img {
    max-width: 90%; /* Add this line to make the image responsive */
    max-height: 100%;    /* Maintain the aspect ratio of the image */
    border-radius: 10px;
}

.id-artikel {
    margin-left: auto;
    margin-right: auto;
    max-width: 1150px;
    text-align: justify;
    padding-left: 20px; /* Add left padding */
    padding-right: 20px; /* Add right padding */
}


.hero2 {
    height: 100%;
    padding: 84px 24px;
    background-color: black;
}

#detailArtikel .card-body {
    height: 140px; 
}