#event .card {
  height: 100%;
}
#event .hero {
  background-color: #131230;
}
.deskripsi {
  font-size: small;
}
#event .hero2 {
  background-color: black;
  height: 300px;
  display: flex;
  align-items: center;
}
#detailevent .hero {
  background-color: #131230;
}
